@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?1n0o4b");
  src: url("fonts/icomoon.eot?1n0o4b#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?1n0o4b") format("truetype"), url("fonts/icomoon.woff?1n0o4b") format("woff"), url("fonts/icomoon.svg?1n0o4b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconfont {
  font-family: "icomoon" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .iconfont.icon-gitee:before {
    content: "\e900"; }
  .iconfont.icon-github:before {
    content: "\e901"; }
  .iconfont.icon-qq:before {
    content: "\e902"; }
  .iconfont.icon-weibo:before {
    content: "\e903"; }
