@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?vrnyk0");
  src: url("fonts/icomoon.eot?vrnyk0#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?vrnyk0") format("truetype"), url("fonts/icomoon.woff?vrnyk0") format("woff"), url("fonts/icomoon.svg?vrnyk0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Gitee:before {
  content: "\e900"; }

.icon-GitHub:before {
  content: "\e901"; }

.icon-QQ:before {
  content: "\e902"; }

.icon-WeiBo:before {
  content: "\e903"; }
